@model CustomerTotalSalesModel

@{
    ViewData["Title"] = $"Total Sales For Customers {Model.Name}";
}

<h2>@ViewData["Title"]</h2>

@{ 
    var totalCars = Model.BoughtCars.Count();
}


<p>
    @totalCars @(totalCars != 1 ? "Cars" : "Car") Bought
</p>
<p>
    $@Model.TotalMoneySpend.ToString("F2")
</p>

